<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>Let's get started...</p>
    <p>
      <div class="centered">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary btn-large btn-success" %>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-primary btn-large" %>
      </div>
    </p>
</div>