<h1>Listing contacts</h1>

<div class="page-header">
  <h1>Contacts <small>Every existent contact</small></h1>
</div>

<%= link_to 'New Contact', new_company_contact_path(@company) %>

<% if @contacts.length == 0 %>
  <h3>Nothing here =(</h3>
  You may <%= link_to 'create new contacts', new_company_contact_path(@company) %>, as you wish
<% else %>
  <%= render 'shared/contactlisting' %>
<% end %>