/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */


.accountbar {
	margin-top: 10px;

	.gravatar {
		width: 25px;
		height: 25px;
	}

	ul {
	    white-space: nowrap;
	    margin-right: 0px;
	    text-align: right;
	}

	ul li[class*="span"], li {
	    display: inline;
	    padding: 10px;
	}
}

#flash_notice, #flash_alert {
	padding: 5px 8px;
	border-radius:5px;
	color: white;
	font-weight: bold;
	text-align: center;
	width: 95%;
	margin: 10px auto;
}

#flash_notice {
	background-color: #5bb75b;
}

#flash_alert {
	background-color: #ee5f5b;
}

.centered td {
	text-align: center;
}

.centered div {
	text-align: center;
	margin: 0px auto;
}
