<ul class="nav">

  <% if user_signed_in? %>
    <li>
      <%= link_to 'Application', authenticated_root_path %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Home', unauthenticated_root_path %>
    </li>
  <% end %>

</ul>