<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">LoboApp</a>
    <ul class="nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to authenticated_root_path do %>
            <i class="icon-home"></i> Home
          <% end %>
        </li>
        <li>
      <% else %>
        <li class="active">
          <%= link_to unauthenticated_root_path do %>
            <i class="icon-certificate"></i> Promotional
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to new_company_path do %>
            <i class="icon-plus"></i> Create Company
          <% end %>
        </li>
        <li>
          <%= link_to companies_path do %>
            <i class="icon-eye-open"></i> All Companies
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>